<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="CSS/styleFormularios.css" />
  </head>
  <body>
    <div class="conteinerFormularioLogin">
        <div id="logo">
            <img class="logo1" src="Assets/logo.png" />
        </div>
        <form id="formulario" method="POST" action="*">
                <h1 class="titulo">Login</h1>
                <div class="input">
                    <div class="input">
                        <label for="text">CPF</label><br>
                        <input type="text" name="cpf" autocomplete="off" required>
                    </div>
                    <div class="input">
                        <label for="text">Senha</label><br>
                        <input type="password" name="senha" required>
                    </div>
                </div>
                <div id="buttonLogin">
                        <button type="push">Login</button>    
                    <button type="submit">Cadastrar</button>
                </div>
        </form>
  </body>