@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

header{
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    padding-left:24px;
    padding-right:24px;
    padding-bottom:12px;
    padding-top:12px;
    background-color:#1D1D21;
}
.logo1{
    cursor: pointer;
    width: 150px;
    height: 45px;
    background-color: transparent;
}
.botaoPesquisa{
    width: 40px;
    height: 40px;
}
.botaoPesquisa:hover{
    background-color:#333;
    border-radius:20px;
}
.pesquisa{
    cursor: pointer;
    background-color: transparent;
    height: 24px;
    margin-top: 8px;
    margin-left: 8px;
}
.botaoMenu{
    width: 40px;
    height: 40px;
}
.botaoMenu:hover{
    background-color:#333;
    border-radius:20px;
}
.menu{
    cursor: pointer;
    background-color: transparent;
    height: 24px;
    margin-top: 8px;
    margin-left: 8px;
}
.pensador{
    background: rgb(29,29,33)!important;
    background: linear-gradient(90deg, rgba(29,29,33,1) 0%, rgba(79,79,88,1) 50%, rgba(203,205,226,1) 100%)!important;
    height:900px;
    padding-top:80px;
}

.pensador h1{
    padding-top: 130px;
    padding-left: 350px;
    color:  rgba(203,205,226,1);
}
.menuAdmin{
    float:right;
    margin-right: 24px;
    margin-top:24px;
    width: 60px;
    height: 50px;
    border-radius: 2px;
    background-color: white;
}

.menuAdmin1 ul{
    align-items: center;
    list-style: none;
}
.menuAdmin1 li{
    padding: 5px;
    font-size: 14px;
}
.menuAdmin1 a{
    text-decoration: none;
    color: #1D1D21;
    text-align: center;
}
.menuAdmin1 li:hover{
    background-color: lightgrey;
}


.imgProduto{
    margin-left:250px;
    margin-top:190px;
    width: 350px;
    height: 460px;
}

#addProduto{
    text-decoration: none;
    font-size:20px;
    color:rgba(203,205,226,1);
}
.infos{
    float:right;
    margin-right: 24px;
}
.infos button{
    border: 2px rgba(203,205,226,1);
    background-color: transparent;
    color:rgba(203,205,226,1);
    border-radius:4px;
}