@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

header{
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    padding-left:24px;
    padding-right:24px;
    padding-bottom:12px;
    padding-top:12px;
    background-color:#1D1D21;
}

.logo1{
    cursor: pointer;
    width: 150px;
    height: 45px;
    background-color: transparent;
}
.botaoCarrinho{
    width: 40px;
    height: 40px;
}
.botaoCarrinho:hover{
    background-color:#333;
    border-radius:20px;
}
.carrinho{
    cursor: pointer;
    background-color: transparent;
    height: 24px;
    margin-top: 8px;
    margin-left: 8px;
}
.botaoPerfil{
    width: 40px;
    height: 40px;
}
.perfil{
    cursor: pointer;
    background-color: rgba(203,205,226,1);
    height: 24px;
    margin-top: 8px;
    margin-left: 8px;
    border-radius:20px;
}
.botaoPerfil:hover{
    background-color:#333;
    border-radius:20px;
}
.botaoHistorico{
    width: 40px;
    height: 40px;
}
.botaoHistorico:hover{
    background-color:#333;
    border-radius:20px;
}
.historico{
    cursor: pointer;
    background-color: transparent;
    height: 24px;
    margin-top: 8px;
    margin-left: 8px;
}
.botaoSair{
    width: 40px;
    height: 40px;
}
.botaoSair:hover{
    background-color:#333;
    border-radius:20px;
}
.sair{
    cursor: pointer;
    background-color: transparent;
    height: 24px;
    margin-top: 8px;
    margin-left: 8px;
}
body{
    background: rgb(29,29,33)!important;
    background: linear-gradient(90deg, rgba(29,29,33,1) 0%, rgba(79,79,88,1) 50%, rgba(203,205,226,1) 100%)!important;;
}

.container{
    display: grid;
    grid-template-columns: 0.25fr 2.25fr 2.25fr 0.25fr;
    grid-template-rows: 10fr 80fr 10fr;
    grid-template-areas:"l m m r"
                        "marginRight picture description marginLeft"
                        "bottomRight b b bottomLeft";
}

.imagem{
    grid-area: picture;
    margin-top: 110px;
    margin-left: 50px;
    margin-right: 5px;;
    align-content: center;
    text-align: center;
    color: gray;
}

.descricao{
    grid-area: description;
    margin-top: 290px;
    align-items: center;
    text-align: center;
    margin-right: 50px;
    margin-left: 5px;
}

#titulo{
    margin-bottom: 90px;
}


